*iml
node_modules/
**/public/saved/
.idea/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
**/target/

org.kevoree.tools.editor.web/public/js/build/

pids
logs
results

npm-debug.log

public/js/build
