extends layout

block content
  div.container-fluid.fill
    div.row-fluid.fill
      div#lib-tree.span2
        div.well.sidebar-nav
          p.lib-tree-info
            strong To load libraries:
            br
            em Model > Load Core Library > (choose one)
            br
            strong or
            br
            em File > Load

      div.span10.layer.fill
        //- ===============
        //- ALERT
        div#alert.alert.alert-block.fade.over-right
          button.close(href="#", type='button') &times;
          h4 Alert
          p#alert-content
        //- ===============

        div#editor.under

  div#popup.modal.hide.fade(tabindex='-1', role='dialog')
    div.modal-header
      button.close(type='button', data-dismiss='modal') &times;
      h3 Properties
    div.modal-body
      div#popup-content
    div.modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Close
      button#save.btn.btn-primary(data-dismiss='modal') Save changes
      button#delete.btn.btn-danger(data-dismiss='modal') Delete

block save-popup
