extends layout

block content
  div.container-fluid.fill
    div.row-fluid.fill
      div#lib-tree.span2
        div#lib-tree-settings.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            img(src='/img/settings.png')
          ul.dropdown-menu(role='menu')
            li
              a#lib-tree-settings-toggle-fold(href='#') Fold all
            li.divider
            li
              a#lib-tree-settings-filter-nodes(href='#') Nodes
                input.checkbox.pull-right(type='checkbox', value='NodeType', checked='true')
              a#lib-tree-settings-filter-components(href='#') Components
                input.checkbox.pull-right(type='checkbox', value='ComponentType', checked='true')
              a#lib-tree-settings-filter-groups(href='#') Groups
                input.checkbox.pull-right(type='checkbox', value='GroupType', checked='true')
              a#lib-tree-settings-filter-channels(href='#') Channels
                input.checkbox.pull-right(type='checkbox', value='ChannelType', checked='true')
          input.search-query#lib-tree-search(type='text', placeholder='Search field...')
        div#lib-tree-content.sidebar-nav
          p.lib-tree-info
            strong To load libraries:
            br
            em Model > Load Core Library > (choose one)
            br
            strong or
            br
            em File > Load

      div.span10.layer.fill
        //- ===============
        //- ALERT
        div#alert.alert.alert-block.fade.over-right
          button.close(href="#", type='button') &times;
          h4 Alert
          p#alert-content
        //- ===============

        div#editor.under
          div#zoom-controls.btn-toolbar.hide
            div.btn-group
              a#zoom-in.btn.btn-small: img(src='/img/zoom_in.png')
              a#zoom-default.btn.btn-small: img(src='/img/zoom_default.png')
              a#zoom-out.btn.btn-small: img(src='/img/zoom_out.png')
            //- div#kevscript.ui-widget-content
            //- h4.ui-widget-header KevScript Editor

  //- ==========================
  //- Properties popup template
  //- ==========================
  div#prop-popup.modal.hide.fade(tabindex='-1', role='dialog')
    div.modal-header
      button.close(type='button', data-dismiss='modal') &times;
      h3 Properties -
        span#prop-popup-subtitle
    div.modal-body
      div
        input#prop-popup-name(type='text', placeholder='Name')
      div#prop-popup-content
    div.modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Close
      button#prop-popup-save.btn.btn-primary(data-dismiss='modal') Save changes
      button#prop-popup-delete.btn.btn-danger(data-dismiss='modal') Delete
