doctype 5
html
  head
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

    link(rel='icon', type='/image/png', href='/ico/favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='/ico/favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/css/style.css')

    script(data-main='/js/main.js', src='/js/require.js')
    //- script(src='http://jsconsole.com/remote.js?kwe')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='/js/lib/html5shiv.js')

    title= title

  body

    //- Navigation bar
    div#header.navbar.navbar-inverse
      div.navbar-inner
        div.container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#'): img(src='/img/kevoree-logo-small.png')

          div.nav-collapse.collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') File&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#load(href='#') Load
                    a#open(href='#open-node-popup', data-toggle='modal') Open from node
                  li.divider
                  li
                    a#save(href='#', data-toggle='modal') Save
                    a#save-kevs(href='#') Save as KevScript
                    a#save-png(href='#') Save as PNG
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') Model&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#clear(href='#') Clear all
                    a#clear-instances(href='#') Clear instances
                  li.dropdown-submenu
                    a#model-load-corelib(href='#') Load Core Library
                    ul.dropdown-menu
                      li: a.model-load-corelib(href='#', data-lib='all') All
                      li: a.model-load-corelib(href='#', data-lib='android') Android
                      li: a.model-load-corelib(href='#', data-lib='arduino') Arduino
                      li: a.model-load-corelib(href='#', data-lib='daum') DAUM
                      li: a.model-load-corelib(href='#', data-lib='javase') JavaSE
                      li: a.model-load-corelib(href='#', data-lib='sky') Sky
                      li: a.model-load-corelib(href='#', data-lib='webserver') WebServer
                  li.divider
                  li.nav-header Tools
                  li
                    a#show-stats(href='#') Statistics
                    a#check-model(href='#') Check model

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') KevScript&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#open-kevs-editor(href="#") Open editor

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') Edit&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#settings(href="#") Settings
                    a#debug(href="#") Toggle debug

    //- Left panel
    block content

    //- Hidden content
    //- ===============
    //- SAVE POPUP
    div#save-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Save model
      div.modal-body
        p#save-popup-text
          img(src='/img/ajax-loader-small.gif')
          | &nbsp; Uploading model in progress, this may take a few minutes...
        a#saved-model-link.hide(href='#') Download your model
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
    //- ===============

    //- ===============
    //- OPEN FROM NODE POPUP
    div#open-node-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Open from node
      div.modal-body
        div#open-node-alert.alert.alert-error.fade
          button.close(href='#', type='button') &times;
          span#open-node-alert-content
        p Remote target node web ressource
        div.controls-row
          select#open-node-protocol.span1
            option(value='http://', selected) http
            option(value='ws://') ws
          input#open-node-uri.span4(type='text', placeholder='ex: kevoree.org/model/json')
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button#open-from-node.btn.btn-primary Open
    //- ===============

    //- ===============
    //- KevScript Editor
    div#kevs-editor.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 KevScript Editor
      div.modal-body
        div.row-fluid
          textarea#kev-script.span12(rows='15', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button#run-kevs.btn.btn-primary(data-dismiss='modal') Run
    //- ===============

    //- ===============
    //- STATISTICS POPUP
    div#stats-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Model statistics
      div.modal-body
        div#stats-popup-content
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
    //- ===============

    //- ===============
    //- SETTINGS POPUP
    div#settings-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Editor settings
      div.modal-body
        p#local-storage-unavailable.hide: em
          strong HTML5 Local Storage
          |  is not avaible on this browser.
          br
          | You should consider using a real web browser like
          a(href='https://www.google.com/intl/fr/chrome/browser/') &nbsp;Google Chrome&nbsp;
          | or
          a(href='http://www.mozilla.org/fr/firefox/new/') &nbsp;Firefox
          | .

        table.table
          tr
            td Confirm before leaving/reloading KevWebEditor
            td: input#ask-before-leaving.pull-right(type='checkbox')
          tr
            td Hide/Show tooltip on components in library tree
            td: input#component-tooltip.pull-right(type='checkbox')
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button#save-settings.btn.btn-primary(data-dismiss='modal') Save
    //- ===============

    //- ===============
    //- DEBUG ALERT
    div#debug-alert.alert.alert-warn.alert-block.fade.shadow
      button.close(href='#', type='button') &times;
      h4 Debug logger
      p#debug-alert-content Nothing logged yet
    //- ===============

    //- ===============
    //- FILE INPUT
    div.hide
      input#file(type='file') Open model from file
    //- ===============