doctype 5
html
  head
    link(rel='icon', type='/image/png', href='/ico/favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='/ico/favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/style.css')

    script(data-main='/js/main.js', src='/js/require.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='/js/lib/html5shiv.js')

    title= title

  body

    //- Navigation bar
    div#header.navbar.navbar-inverse
      div.navbar-inner
        div.container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#')  KevWebEditor
          div.nav-collapse.collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') File&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#load(href='#') Load
                    a#open(href='#open-node-popup', data-toggle='modal') Open from node
                  li.divider
                  li
                    a#save(href='#save-popup', data-toggle='modal') Save
                    a#save-kevs(href='#') Save as KevScript
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') Model&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#clear(href='#') Clear all
                    a#clear-instances(href='#') Clear instances
                  li.dropdown-submenu
                    a(href='#') Load Core Library
                    ul.dropdown-menu
                      li: a.model-load-corelib(href='#', data-lib='all') All
                      li: a.model-load-corelib(href='#', data-lib='android') Android
                      li: a.model-load-corelib(href='#', data-lib='arduino') Arduino
                      li: a.model-load-corelib(href='#', data-lib='daum') DAUM
                      li: a.model-load-corelib(href='#', data-lib='javase') JavaSE
                      li: a.model-load-corelib(href='#', data-lib='sky') Sky
                      li: a.model-load-corelib(href='#', data-lib='webserver') WebServer

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') Edit&nbsp;
                  b.caret
                ul.dropdown-menu
                  li
                    a#settings(href="#") Settings
                    a#debug(href="#") Toggle debug

    //- Left panel
    block content

    //- Hidden content
    //- ===============
    //- SAVE POPUP
    div#save-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Save model
      div.modal-body
        input#filename(type='text')
        p TODO
        p#save-popup-content
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button#save-model.btn.btn-primary(data-dismiss='modal') Save
    //- ===============

    //- ===============
    //- OPEN FROM NODE POPUP
    div#open-node-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Open from node
      div.modal-body
        div#open-node-alert.alert.alert-error.fade
          button.close(href='#', type='button') &times;
          span#open-node-alert-content
        p Remote target node web ressource
        div.controls-row
          select#open-node-protocol.span1
            option(value='http://', selected) http
            option(value='ws://') ws
          input#open-node-uri.span4(type='text', placeholder='ex: kevoree.org/model/json')
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button#open-from-node.btn.btn-primary Open
    //- ===============

    //- ===============
    //- SETTINGS POPUP
    div#settings-popup.modal.hide.fade(tabindex='-1', role='dialog')
      div.modal-header
        button.close(href='#', type='button', data-dismiss='modal') &times;
        h3 Editor settings
      div.modal-body
        p TODO
      div.modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button#save-model.btn.btn-primary(data-dismiss='modal') Save
    //- ===============

    //- ===============
    //- DEBUG ALERT
    div#debug-alert.alert.alert-warn.alert-block.fade.shadow
      button.close(href='#', type='button') &times;
      h4 Debug logger
      p#debug-alert-content Nothing logged yet
    //- ===============

    //- ===============
    //- FILE INPUT
    div.hide
      input#file(type='file') Open model from file
    //- ===============