html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
    height: 100%;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.nav-header {
    font-size: 13px;
    color: #fff;
}

#lib-tree {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#lib-tree > * {
    background-color: #3E3E3E;
}

.lib-item {
    color: #fff;
    padding: 5px 5px 5px 20px;
}

[data-entity='GroupType'] {
    background: url('../img/group-ico.png') center left no-repeat;
}

[data-entity='ChannelType'] {
    background: url('../img/channel-ico.png') center left no-repeat;
}

[data-entity='NodeType'] {
    background: url('../img/node-ico.png') center left no-repeat;
}

[data-entity='ComponentType'] {
    background: url('../img/component-ico.png') center left no-repeat;
}

.dragged {
    font-weight: 700;
    background-color: #3E3E3E;
    cursor: pointer;
    z-index: 42;
}

.lib-tree-info {
    padding: 15px;
    color: #fff;
}

.lib-item:hover {
    /*font-weight: 700;*/
    background-color: #6E6E6E;
    cursor: pointer;
}

#editor {
    width: 100%;
    height: 100%;
}

#debug-alert {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 42;
}

.fill {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.sidebar-nav {
    padding: 9px 0;
}

.navbar {
    margin-bottom: 0;
}

.alert {
    margin: 25px;
}

.layer {
    position: relative;
}

.over {
    position: absolute;
    z-index: 2;
}

.over-right {
    position: absolute;
    z-index: 2;
    right: 0;
}

.under {
    position : absolute;
    z-index: 1;
}

div.shadow {
    -moz-box-shadow: 3px 3px 4px #666;
    -webkit-box-shadow: 3px 3px 4px #666;
    box-shadow: 3px 3px 4px #666;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666');
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }

    #lib-tree {
        max-height: 400px;
    }
}